extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/add-product.css")

block content
  form.product-form(class="login-form", action="/signup", method="POST")
    .form-control
      label(title="E-mail", for="email") E-mail
      input(type="email", name="email", id="email")
    .form-control
      label(title="Password", for="password") Password
      input(type="password", name="password", id="password")
    .form-control
      label(title="Password", for="pass") Confirm password
      input(type="password", name="confirmPass", id="confirmPass")
    input(type="hidden", name="_csrf", value=`${csrfToken}`)
    button(type="submit", class="btn") Sign up