extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/add-product.css")

block content

  if editing
    form.product-form(action="/admin/edit-product", method="POST")
      .form-control
        label(for="title") Title
        input(type="text", name="title", value=`${product.title}`)#title
      .form-control
        label(for="imageUrl") Image URL
        input(type="text", name="imageUrl", value=`${product.imageUrl}`)#imageUrl
      .form-control
        label(for="price") Price
        input(type="number", name="price", step="0.01", value=`${product.price}`)#price
      .form-control
        label(for="desc") Description
        textarea(rows="5", name="desc")#desc #{product.desc}

      input(type="hidden", name="productId", value=`${product._id}`)
      input(type="hidden", name="_csrf", value=`${csrfToken}`)

      button.btn(type="submit") Update product

  else
    form.product-form(action="/admin/add-product", method="POST")
      .form-control
        label(for="title") Title
        input(type="text", name="title")#title
      .form-control
        label(for="imageUrl") Image URL
        input(type="text", name="imageUrl")#imageUrl
      .form-control
        label(for="price") Price
        input(type="number", name="price", step="0.01")#price
      .form-control
        label(for="desc") Description
        textarea(rows="5", name="desc")#desc

      input(type="hidden", name="_csrf", value=`${csrfToken}`)

      button.btn(type="submit") Add product