<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    header.main-header
      .main-header__nav
        ul.main-header__items-list
          li.main-header__item
            a(href="/products", class=(path === '/products' && 'active')) Products

            if isAuth
              li.main-header__item
                a(href="/card", class=(path === '/card' && 'active')) Card
              li.main-header__item
                a(href="/orders", class=(path === '/orders' && 'active')) Orders
              li.main-header__item
                a(href="/admin/add-product", class=(path === '/admin/add-product' && 'active')) Add product
              li.main-header__item
                a(href="/admin/products", class=(path === '/admin/products' && 'active')) Admin products
        ul.main-header__items-list

          if isAuth
            li.main-header__item
              form.product-form(action="/logout", method="POST")
                input(type="hidden", name="_csrf", value=`${csrfToken}`)
                button(type="submit") Logout
          else
            li.main-header__item
              a(href="/login", class=(path === '/login' && 'active')) Login
            li.main-header__item
              a(href="/signup", class=(path === '/signup' && 'active')) Sign up

    main
      if errorMsg && errorMsg.length > 0
        .msg.error-msg #{errorMsg}
      if infoMsg && infoMsg.length > 0
        .msg.info-msg #{infoMsg}
      
      block content