.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #d39f30;
  font: inherit;
  border-radius: 3px;
}

.form-control input,
.form-control textarea {
  padding: 0.5rem;
}
