main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

main li {
  width: 20rem;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  margin: 1rem;
  padding: 1rem;
}

.bold {
  font-weight: 600;
}

.margin-null {
  display: inline-block;
  margin: 0;
}
