body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main {
  padding: 1rem;
}

.main-header {
  max-width: 100%;
  height: 3.5rem;
  background-color: #d39f30;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  text-decoration: none;
  color: #000;
  border: unset;
  background-color: transparent;
  font-size: inherit;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #340581;
}

.btn {
  font: inherit;
  border: 1px solid #340581;
  color: #340581;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.5rem 1rem 0.5rem;
  text-decoration: unset;
}

.btn:hover,
.btn:active {
  background-color: #340581;
  color: #fff;
}

.msg {
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  width: 30rem;
  border-radius: 3px;
}

.error-msg {
  background-color: #dc143c;
}

.info-msg {
  background-color: #4169e1;
}
