main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.orders {
  margin: 0;
}

.orders_item {
  width: 40rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  margin: 1rem;
  padding: 1rem;
}

h3 {
  margin: 0;
}

.orders_products {
  padding: 0;
  width: 100%;
}

.orders_products-item {
  list-style-type: none;
  border: 1px solid #340581;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #340581;
}
