main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-bottom: 1rem;
  width: 400px;
}

img {
  height: auto;
  width: 400px;
  margin: 0 auto;
}

p {
  text-align: center;
}
