main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card__product-item {
  width: 20rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  margin: 1rem;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__header,
.card__content {
  padding: 0 1rem;
}

form {
  display: inline;
}
