extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/card.css")

block content
  if (products.length === 0)
    h1 No products in Card!
  else

    each p in products
      li 
        p(class="margin-null") #{p.productId.title}
        p(class="bold margin-null") Quantity: #{p.quantity}
        form(class="margin-null", action="/card-delete-item", method="POST")
          input(type="hidden", name="_csrf", value=`${csrfToken}`)
          input(type="hidden", name="productId", value=`${p.productId._id}`)
          button(type="submit", class="btn margin-null") Delete

    br
    form(action="/create-order", method="POST")
      input(type="hidden", name="_csrf", value=`${csrfToken}`)
      button(type="submit", class="btn") Order now!
    