extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/orders.css")

block content
  if (orders.length === 0)
    h1 Nothing here!
  else
    ul(class="orders")
      each order in orders
        li(class="orders_item")
          h3 Order - # #{order._id}
          ul(class="orders_products")
            each p in order.products
              li(class="orders_products-item") #{p.product.title} (#{p.quantity})