extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/products.css")

block content
  if prods.length > 0
    each product in prods
      article.card__product-item
        header.card__header
          h1.product__title #{product.title}
        .card__image
          img(src=`${product.imageUrl}`, alt="book")
        .card__content
          h2.product__price $#{product.price}
          p.product__description #{product.desc}
        .card__actions
          a(href=`/products/${product._id}`, class="btn") Details

          if isAuth
            form(action="/card", method="POST")
              input(type="hidden", name="productId", value=`${product._id}`)
              input(type="hidden", name="_csrf", value=`${csrfToken}`)
              button(class="btn", type="submit") Add to card
  else
    h1 No products