extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product-details.css")

block content
  h1 #{product.title}
  hr
  div
    img(src=`${product.imageUrl}`, alt=`${product.title}`)
  h2 $#{product.price}
  p #{product.desc}

  if isAuth
    form(action="/card", method="POST")
      input(type="hidden", name="productId", value=`${product.id}`)
      input(type="hidden", name="_csrf", value=`${csrfToken}`)
      button(class="btn", type="submit") Add to card
